<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pokerena</title>

    <!-- Local CSS file for styling the application-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}">
  </head>

  <body>
    <header class="p-2 navbar navbar-dark bg-dark">
      <div>
        <img src="{{ url_for('static', filename='images/poker_chip.png') }}" width="32" height="32">
        <a class="navbar-brand">Pokerena</a>
      </div>
      <div class="text-end">
        <button class="btn btn-outline-light me-2" type="button">Login</button>
        <button class="btn btn-warning" type="button">Sign-up</button>
      </div>
    </header>
    <div class="content">
      <!-- child template -->
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
